# backups
*.kicad_pcb-bak
*.sch-bak
*.bak
_autosave*
*.000
*.bck
*~
*.tmp
*-save.pro
*-save.kicad_pcb

# bom files
*.csv
*.tsv
*.xml

# export files
*.step

# auto router files
*.ses
*.dsn
*.rules

# Netlist files (exported from Eeschema)
*.net

fp-info-cache
